# Fichiers d'environnement
.env
.env.*

# Fichiers Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/
ENV/

# Fichiers de logs
*.log

# Caches
.cache/
.pytest_cache/

# Données temporaires
*.sqlite3
*.db

# Modèles et données volumineuses
models/
data/

# Configs locales
.DS_Store
.idea/
.vscode/
